@use "_variables.scss" as *;
@use "_mixins.scss" as *;

.blog {
    background-color: $sectionBackground;
    .blogParent {
        display: flex;
        justify-content: space-between;
        .sideChild {
            flex-basis: 35%;
            display: flex;
            justify-content: space-between;
            height: 100%;
            .sideInfo {
                background: $secondary;
                width: 350px;
                margin-top: 20%;
            }
        }
        .blogContainer {
            flex-basis: 60%;

        }
    }
}

// SIDE PHOTO IMAGE
.sideInfo {
    margin-top: 100px;
    .sidePhoto {
        margin: 0;
        position: relative;
        width: 500px;
        width: 140%;
        left: -46%;
        top: -6%;
    }
}

// SIDE BAR SECTION
.sideBar {
    padding: 20px;
    p {
        margin-bottom: 60px;
    }
    .recentPosts {
        li:before {
            content: "•";
            font-size: 10pt;
            margin-right: 10px;
            color: $links;
        }
        a {
            color: $navBackground;
            line-height: 32px;
        }
    }
}

// BLOG IMAGE SECTION
.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: 250px;
    .containerRight {
        margin: 0;
        // margin: 0;
        width: 900px;
        position: relative;
        right: -62.5px;
    }
}

.blogPost {
    width: 750px;
    position: relative;
    right: -43px;
}

// OUR MISSION BLOG POST SECTION
.missionPost {
    padding: 50px 0px 25px 35px;
    border-left: 3px solid $accent;
    border-bottom: 3px solid $accent;
}

// COMMENT SECTION
.commentsSection {
    padding: 50px 0px 25px 35px;
    .comments {
        padding: 0;
        .commentFlex {
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
            figure {
                flex-basis: 15%;
                margin: 25px 15px 15px 0;

            }
            div {
                flex-basis: 80%;
            }
        }
    }
}

.date {
    color: $date;
}

// COMMENT POST SECTION

.commentForm input,
.commentForm textarea {
    background-color: $sectionBackground;
}
