@use "_variables.scss" as *;
@use "_mixins.scss" as *;

@media (max-width: 1439px) {
    // SIDE SECTION
    .sideInfo .sidePhoto {
        margin: 0;
        position: relative;
        width: 100%;
        left: 0px;
        top: 0px;
    }
    
    .sideInfo {
        display: flex;
    }

    // BLOG SECTION
    .blog {
        .blogParent {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .sideChild {
                flex-basis: 50%;
                height: 100%;
                margin-top: 5%;
                .sideInfo {
                    width: 80vw;
                    margin-bottom: 5vh;
                    margin-top: 5%;
                }
            }
        }
    }


    .blogContainer {
        bottom: 0px;
        margin-top: 50px;
        align-items: center;
        .containerRight {
            margin: 0;
            width: 74%;
            position: relative;
            right: 0;
            img {
                box-shadow: none;
            }
        }
    }

    .blogPost {
        width: 74%;
        position: relative;
        right: 0px;
        article {
            padding: 5%;
        }
    }
}

@media (max-width: 1214px) {
    // SIDE SECTION
    .sideInfo {
        display: flex;
        width: 40%;
        .sidePhoto {
            display: none;
        }
        .sideBar {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .plantedAboutSection,
            .recentPosts {
                flex-basis: 40%;
            }
            p {
                margin-bottom: 0px;
            }
        }
    }
}

@media (max-width: 800px) {

    // BLOG HEADER SECTION
    .blogPage .headerName {
        justify-content: center;
        align-items: center;
        h2 {
            margin: 0;
            text-align: center;
        }
    }

    // SIDE SECTION
    .sideInfo .sideBar {
        flex-direction: column;
        .plantedAboutSection,
        .recentPosts {
            width: 90%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 560px) {
    .userInfoFlexBlog {
        flex-direction: column;
    }
}