@media (max-width: 1200px) {
    
        // FLEX for Main Section
    .contactFlex {
        flex-direction: column-reverse;
        padding: 50px;
        .socialIconFlex {
            justify-content: center;
            align-items: center;
        }
        .formContainer {
            bottom: 0px;
        }
    }
    
    // CONTACT INFO
    .contactContainer {
        padding-top: 10%;
        text-align: center;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        .socialIconFlex,
        h6 {
            flex-basis: 50%;
        }
        p {
            line-height: 15px;
            flex-grow: 1;
        }
    }
}

@media (max-width: 800px) {
// CONTACT HEADER SECTION
    .contactPage .contactHeaderName {
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0;
        }
    }
}

@media (max-width: 728px) {

    .wrapper {
        max-width: 100%;
    }

    .contactFlex {
        padding: 5% 0;

    .contactForm .userInfoFlex {
        flex-direction: column;
        box-shadow: none;
        margin-bottom: 20px;
        #name,
        #email {
            margin: 0;
        }
    }
    
    .contactMessageForm {
        box-shadow: none;
        .userInfoFlex {
            padding: 0px;
        }
        .messageArea {
            padding: 0px;
            .messageText {
                margin: 0px;
            }
        }
    }
        .contactContainer {
            flex-direction: row;
            font-size: 16px;
            h6 {
                font-size: 1.28rem;
            }
        }
        .formContainer {
            flex-shrink: 0;
        }

        .greenLink {
            line-height: 20px;
            padding: 5px 30px;
        }
    }   
}


@media (max-width: 428px) {
    .greenLink {
        line-height: normal;
        margin: 0px;
    }
    .contactFlex {
        padding: 0px;
        margin: 5% 0;
    }

}