@use "_variables.scss" as *;
@use "_mixins.scss" as *;

.contact {
    background-color: $sectionBackground;
    .contactFlex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contactInfo {
            flex-basis: 32.16%;
        }
        .formContainer {
            // flex-basis: 60%;
            flex-basis: 61.88%;
        }
    }
}

// .contactInfo SECTION
.contactInfo {
    .socialIconFlex {
        display: flex;
        padding: 0;
        justify-content: flex-start;
        width: 390px;
        .socialIcons {
            flex-basis: 15%;
            margin-bottom: 30px;
            .fa-brands {
                color: $links;
                font-size: 1.2rem;
            }
        }
    }
}

.contactInfo p {
    line-height: 20px;
}

// .contactForm SECTION
.formContainer {
    position: relative;
    bottom: 250px;
}
.contact .containerRight {
    background-color: $secondary;
    max-width: 855px;
    .contactMessageForm {
        padding: 20px;
    }
}

.userInfoFlex {
    display: flex;
    border: none;
    justify-content: space-between;
    .underline {
        flex-basis: 49%;
        }
    }

.userInfoFlex,
.messageArea {
    padding: 0 25px;
    input,
    textarea,
    button {
        width: 100%;
        padding: 15px;
        margin: 20px 10px 0 10px;
        
    }
    input{
        border: none;
        border-bottom: $links 3px solid;
    }
    textarea {
        border: 3px $links solid;
        resize: none;
    }
}

#nameError,
#emailError,
#messageError {
    margin-left: 10px;
}