@use "_variables.scss" as *;
@use "_mixins.scss" as *;

// GLOBAL STYLES

body {
    font-family: $baseFont;
}

.wrapper {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.contentContainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// TYPOGRAPHY


.greenLink {
    background-color: $links;
    @include headerBold(1rem);
    color: $secondary;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
    padding: 15px 30px;
    border: 3px rgba(248, 231, 28, 0) solid;
}

.greenLink:hover,
.greenLink:focus {
    border: 3px $accent solid;
}

.offsetLeft {
    box-shadow: 30px 30px 0px -11px $accent;
}

.offsetRight {
    box-shadow: -30px 30px 0px -11px $accent;
}

