@use "_variables.scss" as *;
@use "_mixins.scss" as *;

.homePage {
    background-image: url(../planted-final-assets/home-image-1.jpg);
    background-size: cover;
    height: 100vh;;
    .headerName {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headerFlex {
        h1 {
            position: absolute;
            color: white;
            z-index: 2;
            width: 50%;
            span {
                color: yellow;
                display: block;
            }
        }
    }
}

.headerImgFlex {
    width: 50%;
    // position: absolute;
    img {
        margin: 0;
        position: absolute;
        top: 27%;
        right: 0px;
        width: 650px;        
    }

}