@use "_variables.scss" as *;
@use "_mixins.scss" as *;

        // HEADER SECTION
        .homePage .headerName .headerFlex h1 {
            top: 0px;
            left: 0px;
        }
        
@media (max-width: 1043px) {

    .blogFlex1 {
        flex-direction: column;
    }
    .blogFlex2 {
        flex-direction: column-reverse;
    }
    .blogFlex {
        justify-content: center;
        align-items: center;
        figure,
        article {
            margin: 30px;
        }
        .blog1,
        .blog2 {
            padding: 5%;
            text-align: center;
        }
        .containerLeft {
            top: 0px;
        }
        .containerRight {
            top: 0px;
        }
        }
    .infoSectionMain .infoFlex {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        }
        .iconFlex {
            justify-content: center;
        }
        .infoSection p {
            padding-left: 0px;
        }
    }


@media (max-width: 915px) {
    .founder .founderFlex {
        flex-direction: column;
        .founderInfo {
            text-align: center;
            padding-top: 50px;
        }
        figure {
            padding: 30px;
        }
        article {
            padding: 5%;
        }
    }
    .flexGallery {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        li {
            flex-basis: 30%;
            padding: 20px;
        }
    }

}
@media (max-width: 800px) {
    h1 {
        padding-left: 60px;
        text-align: center;
        @include headerRegular(6rem);
    }
    .headerImg {
        display: none;
    }
}

// @media (max-width: 560px) {
    
// }

@media (max-width: 534px) {
    h1 {
        @include headerRegular(3.5rem);
    }
}

@media (max-width: 428px) {
    .aboutPlanted .wrapper,
    .infoSectionMain,
    .founder {
        padding: 5%;
    }


}

