@use "_variables.scss" as *;
@use "_mixins.scss" as *;

// ABOUT PLANTED SECTION
.aboutPlanted {
    background-color: $sectionBackground;
    .wrapper {
        text-align: center;
        padding: 20vh 10vw;
        p {
            margin: 40px 0;
        }
    }
}

// BLOG SECTION
.blogFlex {
    background: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    figure{
        flex-basis: 45%;
        margin: 0;
    }
    article {
        flex-basis: 45%;
        p {
            margin: 40px 0;
        }
    }
    .blog1 {
        padding: 5% 5% 5% 0%;
    }
    .blog2 {
        padding: 5% 0% 5% 5%;
        text-align: right;
    }
    .containerLeft{
        position: relative;
        top: -50px;
    }
    .containerRight {
        position: relative;
        bottom: -50px;
    }
}


    
// INFO SECTION
.infoSectionMain {
    padding: 80px 0px;
    background-color: $sectionBackground;
    .infoFlex {
        display: flex;
        flex-wrap: wrap;
        .infoSection {
            flex-basis: calc( 50% - 60px );
            margin: 30px 30px;
        }
    }
}

.iconFlex {
    display: flex;
    align-items: center;
    .infoLogo {
        background-color: $accent;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        font-size: 1.5rem;
    }
}

.infoSection p{
    padding-left: 70px;
}
// BANNER SECTION
// 
// Is it ok that I didn't do any styling? Just made the section element the container.
// 
// 

// FOUNDER SECTION

.founder {
    padding: 90px 0px;
    background-color: $sectionBackground;
    .founderFlex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        figure {
            flex-basis: 25%;
            top: 0px;
            bottom: 0px;
        }
        article {
            flex-basis: 70%;
            padding-left: 50px;
            p {
                margin: 40px 0;
            }
        }
    }
}

// GALLERY SECTION
.flexGallery {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 60px 0;
    padding: 0;
    li {
        flex-basis: 30%;
    }
}

