@use "_variables.scss" as *;

// Bold header - Font Weight: 700
@mixin headerBold ($sizeValue) {
    font-size: $sizeValue;
    font-family: $headingFont;
    font-weight: 700;
}

// Regular header - Font Weight: 400
@mixin headerRegular ($sizeValue) {
    font-size: $sizeValue;
    font-family: $headingFont;
    font-weight: 400;
}

// Light header - Font Weight: 300
@mixin headerLight ($sizeValue) {
    font-size: $sizeValue;
    font-family: $headingFont;
    font-weight: 300;
}