// CREDIT: Hamburger menu learned via youtube video: https: //www.youtube.com/watch?v=QQlxvj_GKss

@use "_variables.scss" as *;
@use "_mixins.scss" as *;


.navFlex {
    // background: $navBackground;
    .navList {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        padding: 12px 20px;
        h5 {
            color: #fff;
            font-weight: 400;
            padding-left: 5vw;
            
        }
    }
}

.menu {
    display: flex;
    flex-basis: 100%;
    h5 {
        color: #fff;
        font-weight: 400;
        padding-left: 5vw;
        display: flex;
        align-self: center;
    }
    .navFlex{
        display: flex;
        button.exitMenu {
            background: none;
            font-size: 2rem;
            border: none;
            color: #fff;
            cursor: pointer;
            display: none;
        }
    }
    button.openMenu {
        display: none;
        background: none;
        font-size: 2rem;
        border: none;
        position: absolute;
        right: 0;
        padding-top: 10px;
        padding-right: 10px;
        color: #fff;
        cursor: pointer;
    }

    .fa-xmark {
        color: $secondary;
    }
    li {
        padding-left: 30px;
        a {
            display: inline-block;
            color: #fff;
            text-align: center;
            position: relative;
            text-transform: uppercase;
            @include headerBold(1rem);
            border: 3px #f8e61c00 solid;
            padding: 15px;
        }
        .currentPage {
            background: #f8e61c;
            color: black;
        }
        a:hover {
            border: 3px rgba(248, 231, 28, 1) solid;
        }
    }
}

.contactNavBar,
.blogNavBar {
    background: $navBackground;
}