// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

$accent: #f8e71c;
$links: #0E902D;
$date: #074115;
$sectionBackground: #F0EFED;
$primary: #2C2C2C;
$secondary: #fff;
$navBackground: #000;

$headingFont: 'Josefin Sans', sans-serif;
$baseFont: 'Roboto', sans-serif;