@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

.contentContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.greenLink {
  background-color: #0E902D;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 15px 30px;
  border: 3px rgba(248, 231, 28, 0) solid;
}

.greenLink:hover,
.greenLink:focus {
  border: 3px #f8e71c solid;
}

.offsetLeft {
  -webkit-box-shadow: 30px 30px 0px -11px #f8e71c;
          box-shadow: 30px 30px 0px -11px #f8e71c;
}

.offsetRight {
  -webkit-box-shadow: -30px 30px 0px -11px #f8e71c;
          box-shadow: -30px 30px 0px -11px #f8e71c;
}

h1 {
  font-size: 8.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 92px;
}

h3 {
  font-size: 2.815rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 2.15rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 2.1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h6 {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  line-height: 32px;
}

em,
strong {
  color: #074115;
}

#nameError,
#emailError,
#messageError {
  font-size: 16px;
  color: red;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 428px) {
  html {
    font-size: 16px;
  }
  p {
    line-height: 20px;
  }
}
.navFlex .navList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
  padding: 12px 20px;
}
.navFlex .navList h5 {
  color: #fff;
  font-weight: 400;
  padding-left: 5vw;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.menu h5 {
  color: #fff;
  font-weight: 400;
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
.menu .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu .navFlex button.exitMenu {
  background: none;
  font-size: 2rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: none;
}
.menu button.openMenu {
  display: none;
  background: none;
  font-size: 2rem;
  border: none;
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
  color: #fff;
  cursor: pointer;
}
.menu .fa-xmark {
  color: #fff;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  border: 3px rgba(248, 230, 28, 0) solid;
  padding: 15px;
}
.menu li .currentPage {
  background: #f8e61c;
  color: black;
}
.menu li a:hover {
  border: 3px rgb(248, 231, 28) solid;
}

.contactNavBar,
.blogNavBar {
  background: #000;
}

footer {
  background: #2C2C2C;
  color: #fff;
}
footer p {
  margin: 0;
  padding: 5spx 0;
  text-align: center;
}

.homePage {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  background-size: cover;
  height: 100vh;
}
.homePage .headerName {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homePage .headerFlex h1 {
  color: white;
  z-index: 2;
}
.homePage .headerFlex h1 span {
  color: yellow;
  display: block;
}

.headerImgFlex {
  width: 50%;
}
.headerImgFlex img {
  margin: 0;
  position: absolute;
  top: 20%;
  right: 0px;
  width: 650px;
}

.aboutPlanted {
  background-color: #F0EFED;
}
.aboutPlanted .wrapper {
  text-align: center;
  padding: 20vh 10vw;
}
.aboutPlanted .wrapper p {
  margin: 40px 0;
}

.blogFlex {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.blogFlex figure {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 0;
}
.blogFlex article {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.blogFlex article p {
  margin: 40px 0;
}
.blogFlex .blog1 {
  padding: 5% 5% 5% 0%;
}
.blogFlex .blog2 {
  padding: 5% 0% 5% 5%;
  text-align: right;
}
.blogFlex .containerLeft {
  position: relative;
  top: -50px;
}
.blogFlex .containerRight {
  position: relative;
  bottom: -50px;
}

.infoSectionMain {
  padding: 80px 0px;
  background-color: #F0EFED;
}
.infoSectionMain .infoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.infoSectionMain .infoFlex .infoSection {
  -ms-flex-preferred-size: calc(50% - 60px);
      flex-basis: calc(50% - 60px);
  margin: 30px 30px;
}

.iconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.iconFlex .infoLogo {
  background-color: #f8e71c;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  font-size: 1.5rem;
}

.infoSection p {
  padding-left: 70px;
}

.founder {
  padding: 90px 0px;
  background-color: #F0EFED;
}
.founder .founderFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.founder .founderFlex figure {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  top: 0px;
  bottom: 0px;
}
.founder .founderFlex article {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding-left: 50px;
}
.founder .founderFlex article p {
  margin: 40px 0;
}

.flexGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 60px 0;
  padding: 0;
}
.flexGallery li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.contactPage {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-size: cover;
}
.contactPage .contactHeaderName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 70vh;
  padding-bottom: 50px;
}
.contactPage .contactHeaderName h2 {
  color: #fff;
}
.contactPage .contactHeaderName h2 span {
  color: #f8e71c;
  display: block;
}

.contact {
  background-color: #F0EFED;
}
.contact .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contactFlex .contactInfo {
  -ms-flex-preferred-size: 32.16%;
      flex-basis: 32.16%;
}
.contact .contactFlex .formContainer {
  -ms-flex-preferred-size: 61.88%;
      flex-basis: 61.88%;
}

.contactInfo .socialIconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 390px;
}
.contactInfo .socialIconFlex .socialIcons {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-bottom: 30px;
}
.contactInfo .socialIconFlex .socialIcons .fa-brands {
  color: #0E902D;
  font-size: 1.2rem;
}

.contactInfo p {
  line-height: 20px;
}

.formContainer {
  position: relative;
  bottom: 250px;
}

.contact .containerRight {
  background-color: #fff;
  max-width: 855px;
}
.contact .containerRight .contactMessageForm {
  padding: 20px;
}

.userInfoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.userInfoFlex .underline {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.userInfoFlex,
.messageArea {
  padding: 0 25px;
}
.userInfoFlex input,
.userInfoFlex textarea,
.userInfoFlex button,
.messageArea input,
.messageArea textarea,
.messageArea button {
  width: 100%;
  padding: 15px;
  margin: 20px 10px 0 10px;
}
.userInfoFlex input,
.messageArea input {
  border: none;
  border-bottom: #0E902D 3px solid;
}
.userInfoFlex textarea,
.messageArea textarea {
  border: 3px #0E902D solid;
  resize: none;
}

#nameError,
#emailError,
#messageError {
  margin-left: 10px;
}

.blogPage {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  background-size: cover;
}
.blogPage .headerName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 70vh;
  padding-bottom: 50px;
}
.blogPage .headerName h2 {
  color: #f8e71c;
}

.blog {
  background-color: #F0EFED;
}
.blog .blogParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .blogParent .sideChild {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.blog .blogParent .sideChild .sideInfo {
  background: #fff;
  width: 350px;
  margin-top: 20%;
}
.blog .blogParent .blogContainer {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.sideInfo {
  margin-top: 100px;
}
.sideInfo .sidePhoto {
  margin: 0;
  position: relative;
  width: 500px;
  width: 140%;
  left: -46%;
  top: -6%;
}

.sideBar {
  padding: 20px;
}
.sideBar p {
  margin-bottom: 60px;
}
.sideBar .recentPosts li:before {
  content: "•";
  font-size: 10pt;
  margin-right: 10px;
  color: #0E902D;
}
.sideBar .recentPosts a {
  color: #000;
  line-height: 32px;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  bottom: 250px;
}
.blogContainer .containerRight {
  margin: 0;
  width: 900px;
  position: relative;
  right: -62.5px;
}

.blogPost {
  width: 750px;
  position: relative;
  right: -43px;
}

.missionPost {
  padding: 50px 0px 25px 35px;
  border-left: 3px solid #f8e71c;
  border-bottom: 3px solid #f8e71c;
}

.commentsSection {
  padding: 50px 0px 25px 35px;
}
.commentsSection .comments {
  padding: 0;
}
.commentsSection .comments .commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}
.commentsSection .comments .commentFlex figure {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin: 25px 15px 15px 0;
}
.commentsSection .comments .commentFlex div {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.date {
  color: #074115;
}

.commentForm input,
.commentForm textarea {
  background-color: #F0EFED;
}

.userInfoFlexBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.userInfoFlexBlog .underline {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.userInfoFlexBlog,
.messageArea {
  padding: 0 25px;
}
.userInfoFlexBlog input,
.userInfoFlexBlog textarea,
.userInfoFlexBlog button,
.messageArea input,
.messageArea textarea,
.messageArea button {
  width: 100%;
  padding: 15px;
  margin: 20px 10px 0 10px;
}
.userInfoFlexBlog input,
.messageArea input {
  border: none;
  border-bottom: #0E902D 3px solid;
}
.userInfoFlexBlog textarea,
.messageArea textarea {
  border: 3px #0E902D solid;
  resize: none;
}

@media (max-width: 800px) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu h5 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    line-height: 83px;
  }
  .menu .navFlex {
    display: none;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0;
    z-index: 30;
    width: 60vw;
    height: 100vh;
  }
  .menu .navFlex .navList {
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100vh;
  }
  .menu .navFlex .navList li {
    padding-left: 0;
    width: 13rem;
    margin-top: 2rem;
  }
  .menu .navFlex .navList li a {
    width: 13rem;
  }
  .menu .navFlex button.exitMenu {
    display: inline;
    right: 0.2rem;
    top: 0.2rem;
    position: absolute;
    font-size: 2.5rem;
    position: fixed;
    z-index: 40;
  }
  .menu button.openMenu {
    display: inline;
  }
}
@media (max-width: 428px) {
  .menu .homeNav {
    width: 100vw;
  }
}
@media (max-width: 1043px) {
  .blogFlex1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogFlex2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogFlex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogFlex figure,
  .blogFlex article {
    margin: 30px;
  }
  .blogFlex .blog1,
  .blogFlex .blog2 {
    padding: 5%;
    text-align: center;
  }
  .blogFlex .containerLeft {
    top: 0px;
  }
  .blogFlex .containerRight {
    top: 0px;
  }
  .infoSectionMain .infoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .iconFlex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .infoSection p {
    padding-left: 0px;
  }
}
@media (max-width: 915px) {
  .founder .founderFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .founder .founderFlex .founderInfo {
    text-align: center;
    padding-top: 50px;
  }
  .founder .founderFlex figure {
    padding: 30px;
  }
  .founder .founderFlex article {
    padding: 5%;
  }
  .flexGallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flexGallery li {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
  .headerImg {
    display: none;
  }
}
@media (max-width: 534px) {
  h1 {
    font-size: 3.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 428px) {
  .aboutPlanted .wrapper,
  .infoSectionMain,
  .founder {
    padding: 5%;
  }
}
@media (max-width: 400px) {
  .infoSectionMain .infoFlex .iconFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infoSectionMain .infoFlex .iconFlex .infoLogo {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}
@media (max-width: 1439px) {
  .sideInfo .sidePhoto {
    margin: 0;
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
  }
  .sideInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog .blogParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .blogParent .sideChild {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 100%;
    margin-top: 5%;
  }
  .blog .blogParent .sideChild .sideInfo {
    width: 80vw;
    margin-bottom: 5vh;
    margin-top: 5%;
  }
  .blogContainer {
    bottom: 0px;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogContainer .containerRight {
    margin: 0;
    width: 74%;
    position: relative;
    right: 0;
  }
  .blogContainer .containerRight img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogPost {
    width: 74%;
    position: relative;
    right: 0px;
  }
  .blogPost article {
    padding: 5%;
  }
}
@media (max-width: 1214px) {
  .sideInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
  }
  .sideInfo .sidePhoto {
    display: none;
  }
  .sideInfo .sideBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sideInfo .sideBar .plantedAboutSection,
  .sideInfo .sideBar .recentPosts {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .sideInfo .sideBar p {
    margin-bottom: 0px;
  }
}
@media (max-width: 800px) {
  .blogPage .headerName {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogPage .headerName h2 {
    margin: 0;
    text-align: center;
  }
  .sideInfo .sideBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sideInfo .sideBar .plantedAboutSection,
  .sideInfo .sideBar .recentPosts {
    width: 90%;
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .userInfoFlexBlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 50px;
  }
  .contactFlex .socialIconFlex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactFlex .formContainer {
    bottom: 0px;
  }
  .contactContainer {
    padding-top: 10%;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactContainer .socialIconFlex,
  .contactContainer h6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .contactContainer p {
    line-height: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 800px) {
  .contactPage .contactHeaderName {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactPage .contactHeaderName h2 {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 728px) {
  .wrapper {
    max-width: 100%;
  }
  .contactFlex {
    padding: 5% 0;
  }
  .contactFlex .contactForm .userInfoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 20px;
  }
  .contactFlex .contactForm .userInfoFlex #name,
  .contactFlex .contactForm .userInfoFlex #email {
    margin: 0;
  }
  .contactFlex .contactMessageForm {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactFlex .contactMessageForm .userInfoFlex {
    padding: 0px;
  }
  .contactFlex .contactMessageForm .messageArea {
    padding: 0px;
  }
  .contactFlex .contactMessageForm .messageArea button {
    margin: 0px;
    margin-top: 15px;
  }
  .contactFlex .contactMessageForm .messageArea .messageText {
    margin: 0px;
  }
  .contactFlex .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
  }
  .contactFlex .contactContainer h6 {
    font-size: 1.28rem;
  }
  .contactFlex .formContainer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .contactFlex .greenLink {
    line-height: 20px;
    padding: 5px 30px;
  }
}
@media (max-width: 428px) {
  .greenLink {
    line-height: normal;
    margin: 0px;
  }
  .contactFlex {
    padding: 5% 0;
  }
}